

<div style="margin:5px;">

    <div style="margin: 0px 5px;position:relative;">
        <label for="appHubRepositoryInitUpdateSourceImagePath" class="ar-flex-item-stretch">Source Repository Name:Tag </label>
        {{HubRepositorySelect('RepositorySelectRefreshID':'appHubRepositoryInitUpdateSourceImagePathRefresh', 'RepositorySelectID':'appHubRepositoryInitUpdateSourceImagePath', 'RepositorySelectAction':'appHubRepositoryInitUpdateSourceImageAction', 'RepositorySelectConfig':'appHubRepositoryInitUpdateSourceImageConfig')}}
    </div>

    <div class="ar-flex-content-spaced">
        <label for="appHubRepositoryInitUpdateTargetImagePath" class="ar-flex-item-stretch">Target Repository Name:Tag</label>
    </div>

    <div class="ar-flex-input-wrap" style="margin: 5px;">
        <input id="appHubRepositoryInitUpdateTargetImagePath" class="ar-input ar-border ar-flex-item-stretch" style="padding-left: 5px;" type="text" placeholder="Your Target Image Name : Tag" value="" />
    </div>

    <div class="ar-flex-content-spaced">
        <label for="appHubRepositoryInitUpdateRepositoryType" class="ar-flex-item-stretch">Repository Type</label>
    </div>
    <div class="ar-flex-input-wrap">
        <select id="appHubRepositoryInitUpdateRepositoryType" class="ar-select ar-border ar-flex-item-stretch" style="padding-left:5px;" title="Machine Config List">
            {{@RepositoryTypeList}}
            <option {{@TypeSelect}} selected="selected" {{ /TypeSelect}} value="{{$TypeName}}">{{$TypeName}}</option>
            {{/RepositoryTypeList}}
        </select>
    </div>

    <div style="margin: 0px 5px;position:relative;">
        <label for="appHubRepositoryInitUpdateFolderList" class="ar-flex-item-stretch">Update Folder</label>
        {{HubRepositoryFolderSelect('RepositoryFolderSelectRefreshID':'appHubRepositoryInitUpdateFolderRefresh', 'RepositoryFolderSelectID':'appHubRepositoryInitUpdateFolderList', 'RepositoryFolderSelectType':'', 'RepositoryFolderSelectConfig': 'appHubRepositoryInitUpdateFolderConfig')}}
        <label class="ar-flex-item-stretch" style="margin: 5px 0px; text-align: center">
            Clear Before Update
            <input id="appHubRepositoryInitUpdateClearBeforeUpdate" type="checkbox" title="Clear Before Update" style="margin-left: 5px;" checked="checked">
        </label>
    </div>

    <span style="font-size:xx-small">Allowed Extensions:<span style="color:red;">{{$UploadWebAllowedExtension}}</span></span>
    <span style="font-size:xx-small">Max File Size : <span style="color:red;">{{$MaxFileSize}}</span></span>
    <div class="ar-flex-input-wrap" style="margin:5px;position:relative;">
        <button class="ar-button ar-border-left" style="width: 100px;">
            Zip File <br /><span style="font-size:xx-small">Max Size : <span style="color:red;">{{$MaxZipSize}}</span></span>
        </button>
        <label id="appHubRepositoryInitUpdateZipFileLabel" title="Choose Zip file" for="appHubRepositoryInitUpdateZipFile" style="font-size: 1.25em; font-weight: 700; color: black; display: inline-block;width:100%;position:absolute;">Choose Zip file</label>
        <div class="ar-flex-item-stretch ar-border-right" style="height: 39px;">
            <input id="appHubRepositoryInitUpdateZipFile" name="appHubRepositoryInitUpdateZipFile" class="ar-flex-item-stretch" style="width: 0.1px; height: 0.1px; opacity: 0; overflow: hidden; position: absolute; z-index: -1;" type="file">
            <script>
                document.getElementById("appHubRepositoryInitUpdateZipFile").addEventListener("change", setAppHubRepositoryInitUpdateZipFileLabel);
                function setAppHubRepositoryInitUpdateZipFileLabel(evt)
                {
                    if (this.files && this.files.length > 0)
                    {
                        let fileName = evt.target.value.split('\\').pop();
                        getElm('appHubRepositoryInitUpdateZipFileLabel').innerHTML = fileName;
                    }
                    else
                    {
                        getElm('appHubRepositoryInitUpdateZipFileLabel').innerHTML = getElm('appHubRepositoryInitUpdateZipFileLabel').title;
                    }
                }
            </script>
        </div>
    </div>

    <div class="ar-flex-content-wrap" style="margin: 5px;">
        <label class="ar-flex-item-stretch" style="margin: 5px 0px; text-align: center">
            Exclude AppData
            <input id="appHubRepositoryInitUpdateExcludeAppData" type="checkbox" title="Exclude App Data from Init Update" style="margin-left: 5px;" checked="checked">
        </label>

        <label class="ar-flex-item-stretch" style="margin: 5px 0px; text-align: center">
            Exclude AppConfig
            <input id="appHubRepositoryInitUpdateExcludeAppConfig" type="checkbox" title="Exclude App Config from Init Update" style="margin-left: 5px;" checked="checked">
        </label>

    </div>

    <fieldset class="ar-border" style="margin: 5px;position:relative;">
        <legend>Init Upload Admin Info</legend>

        <button class="ar-sbutton ar-border" style="position:absolute;right:0px;top:-10px;height:20px;font-size:xx-small;"
                onclick="clearInitUpdateDetails()">
            &#10060;
        </button>

        <span style="font-size:xx-small; color:red;display:block;">If repository updated with admin details, then repository can be modified only using same admin details</span>

        <div class="ar-flex-content-spaced">
            <label for="appHubRepositoryInitUpdateAdminUserID" class="ar-flex-item-stretch">Admin User ID</label>
        </div>

        <div class="ar-flex-input-wrap">
            <input id="appHubRepositoryInitUpdateAdminUserID" class="ar-input ar-border ar-flex-item-stretch" style="padding-left: 5px;" type="text" placeholder="Your Admin User Id" value="{{$OwnerEmail}}" />
        </div>

        <div class="ar-flex-content-spaced">
            <label for="appHubRepositoryInitUpdateAdminUserPassword" class="ar-flex-item-stretch">Password</label>
            <label for="appHubRepositoryInitUpdateAdminConfirmPassword" class="ar-flex-item-stretch">Confirm Password</label>
        </div>

        <div class="ar-flex-input-wrap">
            <input id="appHubRepositoryInitUpdateAdminUserPassword" class="ar-input ar-border ar-flex-item-stretch" style="padding-left: 5px;" type="password" placeholder="Your Admin User Id" value="{{$OwnerPassword}}" />
            <div class="ar-flex-item-stretch" style="max-width:5px;"></div>
            <input id="appHubRepositoryInitUpdateAdminConfirmPassword" class="ar-input ar-border ar-flex-item-stretch" style="padding-left: 5px;" type="password" placeholder="Your Admin User Password" value="{{$OwnerPassword}}" />
        </div>

    </fieldset>

    <div class="ar-flex-content-wrap" style="margin:5px;">

        <button id="appHubRepositoryInitUpdateBtn" class="ar-button ar-border ar-flex-item-stretch" style="text-align: center; font-weight: bolder; color: black;"
                onclick="appHubInitUpdateRepository('appHubRepositoryInitUpdateProgress', 'appHubRepositoryInitUpdateResponse', 'appHubRepositoryInitUpdateZipFile', getElm('appHubRepositoryInitUpdateFolderList').value,  getElm('appHubRepositoryInitUpdateClearBeforeUpdate').checked, getElm('appHubRepositoryInitUpdateAdminUserID').value, getElm('appHubRepositoryInitUpdateAdminUserPassword').value, getElm('appHubRepositoryInitUpdateAdminConfirmPassword').value, getElm('appHubRepositoryInitUpdateSourceImagePath').value, getElm('appHubRepositoryInitUpdateTargetImagePath').value, getElm('appHubRepositoryInitUpdateExcludeAppData').checked, getElm('appHubRepositoryInitUpdateExcludeAppConfig').checked, getElm('appHubRepositoryInitUpdateRepositoryType').value, 'appHubRepositoryInitUpdateBtn', 'appHubRepositoryInitUpdateDetailResponse')">
            Init Update Repository <span id="appHubRepositoryInitUpdateProgress"></span>
        </button>

    </div>

    <div id="appHubRepositoryInitUpdateResponseContainer" class="ar-notification" style="text-align:center;display:none;">
        <svg fill="currentColor" width="16px" height="16px" viewBox="0 0 32 32" xml:space="preserve"
             style="position:absolute;left:0px;top:0px;"
             onclick="toggleElm('appHubRepositoryInitUpdateDetailResponse')">
        <g>
        <path d="M17.962,24.725l1.806,0.096v2.531h-7.534v-2.406l1.045-0.094c0.568-0.063,0.916-0.254,0.916-1.014v-8.801
                 c0-0.699-0.188-0.92-0.791-0.92l-1.106-0.062v-2.626h5.666L17.962,24.725L17.962,24.725z M15.747,4.648
                 c1.394,0,2.405,1.047,2.405,2.374c0,1.331-1.014,2.313-2.438,2.313c-1.454,0-2.404-0.982-2.404-2.313
                 C13.31,5.695,14.26,4.648,15.747,4.648z M16,32C7.178,32,0,24.822,0,16S7.178,0,16,0c8.82,0,16,7.178,16,16S24.82,32,16,32z M16,3
                 C8.832,3,3,8.832,3,16s5.832,13,13,13s13-5.832,13-13S23.168,3,16,3z" />
             </g>
         </svg>
        <button class="ar-delete" onclick="hideElm('appHubRepositoryInitUpdateResponseContainer');hideElm('appHubRepositoryInitUpdateDetailResponse');"></button>
        <div id="appHubRepositoryInitUpdateResponse"></div>
        <div id="appHubRepositoryInitUpdateResponseWarn"></div>
    </div>

    <div id="appHubRepositoryInitUpdateDetailResponse" style="font-size:x-small;text-align:center;display:none;">
    </div>

</div>

<script type="text/javascript">

    function clearInitUpdateDetails() {
        getElm('appHubRepositoryInitUpdateAdminUserID').value = ""
        getElm('appHubRepositoryInitUpdateAdminUserPassword').value = ""
        getElm('appHubRepositoryInitUpdateAdminConfirmPassword').value = ""
    }

    function appHubRepositoryInitUpdateSourceImageAction()
    {
        triggerEvent('appHubRepositoryInitUpdateFolderRefresh', 'click');

        const date = new Date();
        const yyyy = date.getFullYear();
        const mm = String(date.getMonth() + 1).padStart(2, '0'); // Months are 0-based
        const dd = String(date.getDate()).padStart(2, '0');
        //let appendPrefix = 1;
        let appendPrefix = `${yyyy}${mm}${dd}`;

        let selectElm = getElm('appHubRepositoryInitUpdateSourceImagePath');
        let sourceNameTag = selectElm.value;
        if ((sourceNameTag.trim().length > 0) && (sourceNameTag.trim() != "0"))
        {
            const result = sourceNameTag.split(":");
            let repositoryName = result[0];
            let repositoryTag = result[1];

            let idxOfDash = result[0].indexOf("-");
            if (idxOfDash > -1)
            {
                let idxOfUnderscore = repositoryTag.indexOf("_");
                if (idxOfUnderscore == -1)
                {
                    appendPrefix = appendPrefix + "_1";
                }
                else
                {
                    let idxText = repositoryTag.substr(idxOfUnderscore + 1)
                    let idx = parseInt(idxText, 10)
                    if (idx != NaN)
                    {
                        appendPrefix = appendPrefix + "_" + (idx+1);
                    }else
                    {
                        appendPrefix = appendPrefix + "_1";
                    }
                }
                repositoryName = repositoryName.substr(0, idxOfDash);
            }

            let idxOfPrefix = result[1].indexOf(appendPrefix);
            if (idxOfPrefix > -1)
            {
                let idxOfUnderscore = repositoryTag.indexOf("_");
                if (idxOfUnderscore == -1)
                {
                    appendPrefix = appendPrefix + "_1";
                }
                else
                {
                    let idxText = repositoryTag.substr(idxOfUnderscore + 1)
                    let idx = parseInt(idxText, 10)
                    if (idx != NaN)
                    {
                        appendPrefix = appendPrefix + "_" + (idx+1);
                    }else
                    {
                        appendPrefix = appendPrefix + "_1";
                    }
                }
            }

            //getElm('appHubRepositoryInitUpdateTargetImagePath').value = repositoryName + "-"+ appendPrefix + ":" + repositoryTag;
            getElm('appHubRepositoryInitUpdateTargetImagePath').value = repositoryName + ":" + appendPrefix;
        }
        else
        {
            getElm('appHubRepositoryInitUpdateTargetImagePath').value = "";
        }
    }

    function appHubRepositoryInitUpdateSourceImageConfig()
    {
        let selectElm = getElm('appHubRepositoryInitUpdateSourceImagePath');
        let sourceNameTag = selectElm.value;
        return {"SelectedRepositoryPath": sourceNameTag};
    }

    function appHubRepositoryInitUpdateFolderConfig()
    {
        let selectElm = getElm('appHubRepositoryInitUpdateSourceImagePath');
        let sourceNameTag = selectElm.value;
        return {"SelectedRepositoryPath": sourceNameTag};
    }

    function appHubInitUpdateRepository(progressElmId, responseElmId, fileElmId, updateFolderSelectVal, clearBeforeUpdateVal, initOwnerIDVal, initOwnerPasswordVal, initOwnerConfirmPasswordVal, sourceOCIImagePathVal, targetOCIImagePathVal, excludeAppDataVal, excludeAppConfigVal, repositoryTypeVal, actionBtnElmId, detailResponseElmId, successCallback, failureCallback) {
        let id = window.ajaxid++
        let responseElm = getElm(responseElmId)
        let responseContainerElmId = responseElmId + "Container"
        responseElm.textContent = ''
        hideElm(responseContainerElmId)

        var formData = new FormData()
        let valid = true

        if (valid == true) {
            var uploadFile = document.getElementById(fileElmId)
            if (uploadFile.files.length > 0) {
                formData.append("file", uploadFile.files[0])
            }
            else {
                showText(responseElm, 'Select a Zip File before Initializing', 'red')
                valid = false
            }
        }
        
        if (valid === true) {
            if (initOwnerIDVal.trim().length === 0) {
                showText(responseElm, 'Enter Owner User ID', 'red')
                valid = false
            }
        }

        if (valid === true) {
            if (initOwnerPasswordVal.trim().length === 0) {
                showText(responseElm, 'Enter Owner User Password', 'red')
                valid = false
            }
        }

         if (valid === true) {
            if (initOwnerConfirmPasswordVal.trim().length === 0) {
                showText(responseElm, 'Enter Owner Confirm User Password', 'red')
                valid = false
            }
        }

        if (valid == true) {
            if (initOwnerPasswordVal != initOwnerConfirmPasswordVal) {
                showText(responseElm, 'Owner Password and Confirm Password does not match', 'red')
                valid = false
            }
        }

        if (valid === true) {
            if (sourceOCIImagePathVal.trim().length === 0) {
                showText(responseElm, 'Select Source Repository to Init Update', 'red')
                valid = false
            }
             else if (sourceOCIImagePathVal.trim() =="0")
            {
                showText(responseElm, 'Select Source Repository to Init Update', 'red')
                valid = false
            }
        }

        if (valid === true) {
            if (targetOCIImagePathVal.trim().length === 0) {
                showText(responseElm, 'Enter Target Repository Path', 'red')
                valid = false
            }
            else
            {
                let idxOfColon = targetOCIImagePathVal.trim().indexOf(":");
                if (idxOfColon == -1)
                {
                    showText(responseElm, 'Enter Target Repository Path in [name:tag] format', 'red')
                    valid = false
                }
            }
        }

        if (valid == true) {
            if (updateFolderSelectVal == "") {
                    showText(responseElm, 'Select the Layer Folder to Update', 'red')
                valid = false
            }
            else if (updateFolderSelectVal.trim() =="0")
            {
                showText(responseElm, 'Select the Layer Folder to Update', 'red')
                valid = false
            }
        }

        if (valid === true) {
            if (repositoryTypeVal.trim().length === 0) {
                showText(responseElm, 'Select Repository Type', 'red')
                valid = false
            }
            else if (repositoryTypeVal.trim() === "0") {
                showText(responseElm, 'Select Repository Type', 'red')
                valid = false
            }
        }

        if (valid == true) {
            getElm(actionBtnElmId).setAttribute("disabled", true)

            let refreshMode = ""
            let refreshDomain = ""

            let apiUrl = '/AppApi/HubApi'
            let apiMethod = 'RepositoryUploadInit'

            let apiParams = {
                "initOwnerID": initOwnerIDVal,
                "initOwnerPassword": initOwnerPasswordVal,
                "source_repository_info": sourceOCIImagePathVal,
                "target_repository_info": targetOCIImagePathVal,
                "repository_type" : repositoryTypeVal,
                "update_folder": updateFolderSelectVal,
                "clearBeforeUpdate": clearBeforeUpdateVal,
                "excludeAppData": excludeAppDataVal,
                "excludeAppConfig": excludeAppConfigVal
            }

            formData.append('FormDataMethod', apiMethod)
            for (const key in apiParams) {
                formData.append(key, apiParams[key])
            }

            let processReturn = function (result, responseElmId, successCallback, failureCallback) {

                let responseElm = getElm(responseElmId)

                getElm(actionBtnElmId).removeAttribute("disabled")

                if (result.hasOwnProperty('error') === true) {

                    showText(responseElm, result.error, 'red')

                    let detailMessageHtml = "";
                    let messageNo = 0;
                    if (result.hasOwnProperty('errorJson') === true) {
                        let errorJson = result.errorJson;
                        for (let i = 0; i < errorJson.length; i++) {
                            messageNo++;
                            let messageObj = errorJson[i];
                            for (var key in messageObj) {
                                if (messageObj.hasOwnProperty(key)) {
                                    detailMessageHtml = detailMessageHtml + messageNo + " : <span style='color:red'>" + messageObj[key] + "</span><br/>";
                                }
                            }
                        }
                    }
                    getElm(detailResponseElmId).innerHTML = detailMessageHtml;
                    showElm(detailResponseElmId);
                }
                else if (result.hasOwnProperty('message') === true) {

                    showText(responseElm, result.message, 'green')

                    if (result.hasOwnProperty('warn') === true) {
                        showText(responseWarnElm, result.warn, 'blue')                       
                    }

                    let detailMessageHtml = "";
                    let messageNo = 0;
                    if (result.hasOwnProperty('messageJson') === true) {
                        let messageJson = result.messageJson;
                        for (let i = 0; i < messageJson.length; i++) {
                            messageNo++;
                            let messageObj = messageJson[i];
                            for (var key in messageObj) {
                                if (messageObj.hasOwnProperty(key)) {
                                    detailMessageHtml = detailMessageHtml + messageNo + " : <span style='color:green'>" + messageObj[key] + "</span><br/>";
                                }
                            }
                        }
                    }
                    if (result.hasOwnProperty('warnJson') === true) {
                        let messageJson = result.warnJson;
                        for (let n = 0; n < messageJson.length; n++) {
                            messageNo++;
                            let messageObj = messageJson[n];
                            for (var key in messageObj) {
                                if (messageObj.hasOwnProperty(key)) {
                                    detailMessageHtml = detailMessageHtml + messageNo + " : <span style='color:blue'>" + messageObj[key] + "</span><br/>";
                                }
                            }
                        }
                    }
                    if (result.hasOwnProperty('errorJson') === true) {
                        let errorJson = result.errorJson
                        for (let i = 0; i < errorJson.length; i++) {
                            messageNo++
                            let messageObj = errorJson[i]
                            for (var key in messageObj) {
                                if (messageObj.hasOwnProperty(key)) {
                                    detailMessageHtml = detailMessageHtml + messageNo + " : <span style='color:red'>" + messageObj[key] + "</span><br/>"
                                }
                            }
                        }
                    }
                    getElm(detailResponseElmId).innerHTML = detailMessageHtml;
                    //showElm(detailResponseElmId);

                    if (typeof successCallback === "function") {
                        successCallback()
                    }
                }
                else if (result.hasOwnProperty('warn') === true) {

                    showText(responseElm, result.warn, 'red')

                    if (result.hasOwnProperty('warn') === true) {
                        showText(responseWarnElm, result.warn, 'blue')
                    }

                    let detailMessageHtml = "";
                    let messageNo = 0;
                    if (result.hasOwnProperty('warnJson') === true) {
                        let messageJson = result.warnJson;
                        for (let i = 0; i < messageJson.length; i++) {
                            messageNo++;
                            let messageObj = messageJson[i];
                            for (var key in messageObj) {
                                if (messageObj.hasOwnProperty(key)) {
                                    detailMessageHtml = detailMessageHtml + messageNo + " : <span style='color:blue'>" + messageObj[key] + "</span><br/>";
                                }
                            }
                        }
                    }
                    if (result.hasOwnProperty('errorJson') === true) {
                        let errorJson = result.errorJson
                        for (let i = 0; i < errorJson.length; i++) {
                            messageNo++
                            let messageObj = errorJson[i]
                            for (var key in messageObj) {
                                if (messageObj.hasOwnProperty(key)) {
                                    detailMessageHtml = detailMessageHtml + messageNo + " : <span style='color:red'>" + messageObj[key] + "</span><br/>"
                                }
                            }
                        }
                    }
                    getElm(detailResponseElmId).innerHTML = detailMessageHtml;
                    showElm(detailResponseElmId);

                }
            }

            callAssemblerUploadApi(progressElmId, responseElmId, apiUrl, apiMethod, formData, refreshMode, refreshDomain, processReturn, successCallback, failureCallback, 0, "{{$AppSite}}", "{{$AppView}}", "AppHub", "")
        }
    }

</script>
