

<div style="margin:5px;">

    <div style="margin: 0px 5px;position:relative;">
        <label for="appRepositoryFolderSourceImagePath" class="ar-flex-item-stretch">Source Repository Name:Tag</label>
        {{HubRepositorySelect('RepositorySelectRefreshID':'appRepositoryFolderSourceImagePathRefresh', 'RepositorySelectID':'appRepositoryFolderSourceImagePath', 'RepositorySelectAction':'appRepositoryFolderSourceImageAction', 'RepositorySelectConfig':'appRepositoryFolderSourceImageConfig')}}
    </div>

    <div class="ar-flex-content-spaced">
        <label for="appRepositoryFolderTargetImagePath" class="ar-flex-item-stretch">Target Repository Name:Tag</label>
    </div>

    <div class="ar-flex-input-wrap" style="margin: 0px 5px;">
        <input id="appRepositoryFolderTargetImagePath" class="ar-input ar-border ar-flex-item-stretch" style="padding-left: 5px;" type="text" placeholder="Your Target Image Name : Tag" value="" />
    </div>

    <div style="margin: 0px 5px;position:relative;">
        <label for="appRepositoryFolderSelect" class="ar-flex-item-stretch">Repository Folder</label>
        {{HubFolderSelect('RepositoryFolderSelectRefreshID':'appRepositoryFolderRefresh', 'RepositoryFolderSelectID':'appRepositoryFolderSelect', 'RepositoryFolderSelectConfig': 'appRepositoryFolderConfig')}}
    </div>

    <div class="ar-flex-content-wrap" style="margin: 5px;">
        <label class="ar-flex-item-stretch" style="margin: 5px 0px; text-align: center">
            Exclude AppData
            <input id="appRepositoryFolderExcludeAppData" type="checkbox" title="Exclude App Data from Backup/Restore" style="margin-left: 5px;">
        </label>

        <label class="ar-flex-item-stretch" style="margin: 5px 0px; text-align: center">
            Exclude AppConfig
            <input id="appRepositoryFolderExcludeAppConfig" type="checkbox" title="Exclude App Config from Backup/Restore" style="margin-left: 5px;">
        </label>

        <label class="ar-flex-item-stretch" style="margin: 5px 0px; text-align: center">
            Exclude AppHub
            <input id="appRepositoryFolderExcludeAppHub" type="checkbox" title="Exclude App Hub from Backup/Restore" style="margin-left: 5px;" checked="checked">
        </label>

    </div>

    <div style="margin: 0px 5px;position:relative;">
        <label for="appLocalFolderSelect" class="ar-flex-item-stretch">Backup From/Restore To App Local Folder</label>
        {{LocalFolderSelect('AppFolderSelectRefreshID':'appLocalFolderRefresh', 'AppFolderSelectID':'appLocalFolderSelect', 'AppFolderSelectConfig': 'appLocalFolderConfig')}}
        <label class="ar-flex-item-stretch" style="margin: 5px 0px; text-align: center">
            Clear Before Restore
            <input id="appRepositoryFolderClearBeforeRestore" type="checkbox" title="Clear Before Restore" style="margin-left: 5px;" checked="checked">
        </label>
    </div>

    <div class="ar-flex-content-wrap" style="margin:5px;">

        <button id="appHubRepositoryBackupBtn" class="ar-button ar-border ar-flex-item-stretch" style="text-align: center; font-weight: bolder; color: black;"
                onclick="appHubBackupToRepository('appHubRepositoryBackpupProgress', 'appRepositoryFolderResponse', getElm('appLocalFolderSelect').value, getElm('appRepositoryFolderSelect').value, getElm('appRepositoryFolderSourceImagePath').value, getElm('appRepositoryFolderTargetImagePath').value, getElm('appRepositoryFolderExcludeAppData').checked, getElm('appRepositoryFolderExcludeAppConfig').checked, getElm('appRepositoryFolderExcludeAppHub').checked,'appHubRepositoryBackupBtn', 'appRepositoryFolderDetailResponse')">
            Backup to Image <span id="appHubRepositoryBackpupProgress"></span>
        </button>
        <div style="width:5px;">
        </div>
        <button id="appHubRepositoryRestoreBtn" class="ar-button ar-border ar-flex-item-stretch" style="text-align: center; font-weight: bolder; color: black;"
                onclick="appHubRestoreFromRepository('appHubRepositoryRestoreProgress', 'appRepositoryFolderResponse', getElm('appLocalFolderSelect').value, getElm('appRepositoryFolderSelect').value, getElm('appRepositoryFolderClearBeforeRestore').checked, getElm('appRepositoryFolderSourceImagePath').value, getElm('appRepositoryFolderExcludeAppData').checked, getElm('appRepositoryFolderExcludeAppConfig').checked, getElm('appRepositoryFolderExcludeAppHub').checked,'appHubRepositoryRestoreBtn', 'appRepositoryFolderDetailResponse')">
            Restore from Image <span id="appHubRepositoryRestoreProgress"></span>
        </button>

    </div>

    <div id="appRepositoryFolderResponseContainer" class="ar-notification" style="text-align:center;display:none;">
        <svg fill="currentColor" width="16px" height="16px" viewBox="0 0 32 32" xml:space="preserve"
             style="position:absolute;left:0px;top:0px;"
             onclick="toggleElm('appRepositoryFolderDetailResponse')">
        <g>
        <path d="M17.962,24.725l1.806,0.096v2.531h-7.534v-2.406l1.045-0.094c0.568-0.063,0.916-0.254,0.916-1.014v-8.801
                 c0-0.699-0.188-0.92-0.791-0.92l-1.106-0.062v-2.626h5.666L17.962,24.725L17.962,24.725z M15.747,4.648
                 c1.394,0,2.405,1.047,2.405,2.374c0,1.331-1.014,2.313-2.438,2.313c-1.454,0-2.404-0.982-2.404-2.313
                 C13.31,5.695,14.26,4.648,15.747,4.648z M16,32C7.178,32,0,24.822,0,16S7.178,0,16,0c8.82,0,16,7.178,16,16S24.82,32,16,32z M16,3
                 C8.832,3,3,8.832,3,16s5.832,13,13,13s13-5.832,13-13S23.168,3,16,3z" />
             </g>
         </svg>
        <button class="ar-delete" onclick="hideElm('appRepositoryFolderResponseContainer');hideElm('appRepositoryFolderDetailResponse');"></button>
        <div id="appRepositoryFolderResponse"></div>
        <div id="appRepositoryFolderResponseWarn"></div>
    </div>

    <div id="appRepositoryFolderDetailResponse" style="font-size:x-small;text-align:center;display:none;">
    </div>

</div>

<script type="text/javascript">

    function appLocalFolderConfig()
    {
        let selectElm = getElm('appLocalFolderSelect');
        let sourceNameTag = selectElm.value;
        return {"SelectedFolderPath": sourceNameTag};
    }

    function appRepositoryFolderSourceImageAction()
    {
        triggerEvent('appRepositoryFolderRefresh', 'click');
        let folderTimerCount = 0;
        let folderSetIntervalID = setInterval(() => {
            folderTimerCount++;
            let currentFolderVal = getElm('appLocalFolderSelect').value;
            if ((currentFolderVal.trim().length > 0) && (currentFolderVal.trim() != "0"))
            {
                clearInterval(folderSetIntervalID);
            }
            if (folderTimerCount > 1)
            {
                triggerEvent('appRepositoryFolderRefresh', 'click');
                clearInterval(folderSetIntervalID);
            }
        },1000)

        const date = new Date();
        const yyyy = date.getFullYear();
        const mm = String(date.getMonth() + 1).padStart(2, '0'); // Months are 0-based
        const dd = String(date.getDate()).padStart(2, '0');
        //let appendPrefix = 1;
        let appendPrefix = `${yyyy}${mm}${dd}`;

        let selectElm = getElm('appRepositoryFolderSourceImagePath');
        let sourceNameTag = selectElm.value;
        if ((sourceNameTag.trim().length > 0) && (sourceNameTag.trim() != "0"))
        {
            const result = sourceNameTag.split(":");
            let repositoryName = result[0];
            let repositoryTag = result[1];

            let idxOfDash = result[0].indexOf("-");
            if (idxOfDash > -1)
            {
                let idxOfUnderscore = repositoryTag.indexOf("_");
                if (idxOfUnderscore == -1)
                {
                    appendPrefix = appendPrefix + "_1";
                }
                else
                {
                    let idxText = repositoryTag.substr(idxOfUnderscore + 1)
                    let idx = parseInt(idxText, 10)
                    if (idx != NaN)
                    {
                        appendPrefix = appendPrefix + "_" + (idx+1);
                    }else
                    {
                        appendPrefix = appendPrefix + "_1";
                    }
                }
                repositoryName = repositoryName.substr(0, idxOfDash);
            }

            let idxOfPrefix = result[1].indexOf(appendPrefix);
            if (idxOfPrefix > -1)
            {
                let idxOfUnderscore = repositoryTag.indexOf("_");
                if (idxOfUnderscore == -1)
                {
                    appendPrefix = appendPrefix + "_1";
                }
                else
                {
                    let idxText = repositoryTag.substr(idxOfUnderscore + 1)
                    let idx = parseInt(idxText, 10)
                    if (idx != NaN)
                    {
                        appendPrefix = appendPrefix + "_" + (idx+1);
                    }
                    else
                    {
                        appendPrefix = appendPrefix + "_1";
                    }
                }
            }

            //getElm('appRepositoryFolderTargetImagePath').value = repositoryName + "-"+ appendPrefix + ":" + repositoryTag;
            getElm('appRepositoryFolderTargetImagePath').value = repositoryName + ":" + appendPrefix;
        }
        else
        {
            getElm('appRepositoryFolderTargetImagePath').value = "";
        }
    }

    function appRepositoryFolderSourceImageConfig()
    {
        let selectElm = getElm('appRepositoryFolderSourceImagePath');
        let sourceNameTag = selectElm.value;
        return {"SelectedRepositoryPath": sourceNameTag};
    }

    function appRepositoryFolderConfig()
    {
        let selectElm = getElm('appRepositoryFolderSourceImagePath');
        let sourceNameTag = selectElm.value;
        return {"SelectedRepositoryPath": sourceNameTag};
    }

    function appHubBackupToRepository(progressElmId, responseElmId, backupFolderVal, repositoryFolderVal, sourceOCIImagePathVal, targetOCIImagePathVal, excludeAppDataVal, excludeAppConfigVal, excludeAppHubVal, actionBtnElmId, detailResponseElmId, successCallback, failureCallback) {
        let id = window.ajaxid++
        let responseElm = getElm(responseElmId)
        let responseContainerElmId = responseElmId + "Container"
        responseElm.textContent = ''
        hideElm(responseContainerElmId)

        let valid = true

        if (valid === true) {
            if (backupFolderVal.trim().length === 0) {
                showText(responseElm, 'Select Backup Folder', 'red')
                valid = false
            }
        }

        if (valid === true) {
            if (repositoryFolderVal.trim().length === 0) {
                showText(responseElm, 'Select Repository Folder', 'red')
                valid = false
            }
        }

        if (valid === true) {
            if (sourceOCIImagePathVal.trim().length === 0) {
                showText(responseElm, 'Enter Source Repository to Backup', 'red')
                valid = false
            }
            else if (sourceOCIImagePathVal.trim() =="0")
            {
                showText(responseElm, 'Select Source Repository to Backup', 'red')
                valid = false
            }
        }

        if (valid === true) {
            if (targetOCIImagePathVal.trim().length === 0) {
                showText(responseElm, 'Enter Target Repository Path', 'red')
                valid = false
            }
            else
            {
                let idxOfColon = targetOCIImagePathVal.trim().indexOf(":");
                if (idxOfColon == -1)
                {
                    showText(responseElm, 'Enter Target Repository Path in [name:tag] format', 'red')
                    valid = false
                }
            }
        }

        if (valid == true) {
            getElm(actionBtnElmId).setAttribute("disabled", true)

            let refreshMode = ""
            let refreshDomain = ""

            let apiUrl = '/AppApi/HubApi'
            let apiMethod = 'BackupToRepository'

            let apiParams = {
                "backup_folder": backupFolderVal,
                "repository_folder": repositoryFolderVal,
                "source_repository_info": sourceOCIImagePathVal,
                "target_repository_info": targetOCIImagePathVal,
                "excludeAppData": excludeAppDataVal,
                "excludeAppConfig": excludeAppConfigVal,
                "excludeAppHub": excludeAppHubVal
            }

            let processReturn = function (result, responseElmId, successCallback, failureCallback) {

                let responseElm = getElm(responseElmId)

                getElm(actionBtnElmId).removeAttribute("disabled")

                if (result.hasOwnProperty('error') === true) {

                    showText(responseElm, result.error, 'red')

                    let detailMessageHtml = "";
                    let messageNo = 0;
                    if (result.hasOwnProperty('errorJson') === true) {
                        let errorJson = result.errorJson;
                        for (let i = 0; i < errorJson.length; i++) {
                            messageNo++;
                            let messageObj = errorJson[i];
                            for (var key in messageObj) {
                                if (messageObj.hasOwnProperty(key)) {
                                    detailMessageHtml = detailMessageHtml + messageNo + " : <span style='color:red'>" + messageObj[key] + "</span><br/>";
                                }
                            }
                        }
                    }
                    getElm(detailResponseElmId).innerHTML = detailMessageHtml;
                    showElm(detailResponseElmId);
                }
                else if (result.hasOwnProperty('message') === true) {

                    showText(responseElm, result.message, 'green')

                    if (result.hasOwnProperty('warn') === true) {
                        showText(responseWarnElm, result.warn, 'blue')                       
                    }

                    let detailMessageHtml = "";
                    let messageNo = 0;
                    if (result.hasOwnProperty('messageJson') === true) {
                        let messageJson = result.messageJson;
                        for (let i = 0; i < messageJson.length; i++) {
                            messageNo++;
                            let messageObj = messageJson[i];
                            for (var key in messageObj) {
                                if (messageObj.hasOwnProperty(key)) {
                                    detailMessageHtml = detailMessageHtml + messageNo + " : <span style='color:green'>" + messageObj[key] + "</span><br/>";
                                }
                            }
                        }
                    }
                    if (result.hasOwnProperty('warnJson') === true) {
                        let messageJson = result.warnJson;
                        for (let n = 0; n < messageJson.length; n++) {
                            messageNo++;
                            let messageObj = messageJson[n];
                            for (var key in messageObj) {
                                if (messageObj.hasOwnProperty(key)) {
                                    detailMessageHtml = detailMessageHtml + messageNo + " : <span style='color:blue'>" + messageObj[key] + "</span><br/>";
                                }
                            }
                        }
                    }
                    if (result.hasOwnProperty('errorJson') === true) {
                        let errorJson = result.errorJson
                        for (let i = 0; i < errorJson.length; i++) {
                            messageNo++
                            let messageObj = errorJson[i]
                            for (var key in messageObj) {
                                if (messageObj.hasOwnProperty(key)) {
                                    detailMessageHtml = detailMessageHtml + messageNo + " : <span style='color:red'>" + messageObj[key] + "</span><br/>"
                                }
                            }
                        }
                    }
                    getElm(detailResponseElmId).innerHTML = detailMessageHtml;
                    //showElm(detailResponseElmId);

                    if (typeof successCallback === "function") {
                        successCallback()
                    }
                }
                else if (result.hasOwnProperty('warn') === true) {

                    showText(responseElm, result.warn, 'red')

                    if (result.hasOwnProperty('warn') === true) {
                        showText(responseWarnElm, result.warn, 'blue')
                    }

                    let detailMessageHtml = "";
                    let messageNo = 0;
                    if (result.hasOwnProperty('warnJson') === true) {
                        let messageJson = result.warnJson;
                        for (let i = 0; i < messageJson.length; i++) {
                            messageNo++;
                            let messageObj = messageJson[i];
                            for (var key in messageObj) {
                                if (messageObj.hasOwnProperty(key)) {
                                    detailMessageHtml = detailMessageHtml + messageNo + " : <span style='color:blue'>" + messageObj[key] + "</span><br/>";
                                }
                            }
                        }
                    }
                    if (result.hasOwnProperty('errorJson') === true) {
                        let errorJson = result.errorJson
                        for (let i = 0; i < errorJson.length; i++) {
                            messageNo++
                            let messageObj = errorJson[i]
                            for (var key in messageObj) {
                                if (messageObj.hasOwnProperty(key)) {
                                    detailMessageHtml = detailMessageHtml + messageNo + " : <span style='color:red'>" + messageObj[key] + "</span><br/>"
                                }
                            }
                        }
                    }
                    getElm(detailResponseElmId).innerHTML = detailMessageHtml;
                    showElm(detailResponseElmId);
                }
            }

            callAssemblerApi(progressElmId, responseElmId, apiUrl, apiMethod, apiParams, refreshMode, refreshDomain, processReturn, successCallback, failureCallback, 0, "{{$AppSite}}", "{{$AppView}}", "AppHub", "")
        }
    }

    function appHubRestoreFromRepository(progressElmId, responseElmId, restoreFolderVal, repositoryFolderVal, clearBeforeRestoreVal, sourceOCIImagePathVal, excludeAppDataVal, excludeAppConfigVal, excludeAppHubVal, actionBtnElmId, detailResponseElmId, successCallback, failureCallback) {
        let id = window.ajaxid++
        let responseElm = getElm(responseElmId)
        let responseContainerElmId = responseElmId + "Container"
        responseElm.textContent = ''
        hideElm(responseContainerElmId)

        let valid = true

        if (valid === true) {
            if (restoreFolderVal.trim().length === 0) {
                showText(responseElm, 'Select Restore Folder', 'red')
                valid = false
            }
        }

        if (valid === true) {
            if (repositoryFolderVal.trim().length === 0) {
                showText(responseElm, 'Select Repository Folder', 'red')
                valid = false
            }
        }

        if (valid === true) {
            if (sourceOCIImagePathVal.trim().length === 0) {
                showText(responseElm, 'Select Source Repository to Restore', 'red')
                valid = false
            }
            else if (sourceOCIImagePathVal.trim() =="0")
            {
                showText(responseElm, 'Select Source Repository to Restore', 'red')
                valid = false
            }
        }

        if (valid == true) {
            getElm(actionBtnElmId).setAttribute("disabled", true)

            let refreshMode = ""
            let refreshDomain = ""

            let apiUrl = '/AppApi/HubApi'
            let apiMethod = 'RestoreFromRepository'

            let apiParams = {
                "restore_folder": restoreFolderVal,
                "repository_folder": repositoryFolderVal,
                "clearBeforeRestore": clearBeforeRestoreVal,
                "source_repository_info": sourceOCIImagePathVal,
                "excludeAppData": excludeAppDataVal,
                "excludeAppConfig": excludeAppConfigVal,
                "excludeAppHub": excludeAppHubVal
            }

            let processReturn = function (result, responseElmId, successCallback, failureCallback) {

                let responseElm = getElm(responseElmId)

                getElm(actionBtnElmId).removeAttribute("disabled")

                if (result.hasOwnProperty('error') === true) {

                    showText(responseElm, result.error, 'red')

                    let detailMessageHtml = "";
                    let messageNo = 0;
                    if (result.hasOwnProperty('errorJson') === true) {
                        let errorJson = result.errorJson;
                        for (let i = 0; i < errorJson.length; i++) {
                            messageNo++;
                            let messageObj = errorJson[i];
                            for (var key in messageObj) {
                                if (messageObj.hasOwnProperty(key)) {
                                    detailMessageHtml = detailMessageHtml + messageNo + " : <span style='color:red'>" + messageObj[key] + "</span><br/>";
                                }
                            }
                        }
                    }
                    getElm(detailResponseElmId).innerHTML = detailMessageHtml;
                    showElm(detailResponseElmId);
                }
                else if (result.hasOwnProperty('message') === true) {

                    showText(responseElm, result.message, 'green')

                    if (result.hasOwnProperty('warn') === true) {
                        showText(responseWarnElm, result.warn, 'blue')                       
                    }

                    let detailMessageHtml = "";
                    let messageNo = 0;
                    if (result.hasOwnProperty('messageJson') === true) {
                        let messageJson = result.messageJson;
                        for (let i = 0; i < messageJson.length; i++) {
                            messageNo++;
                            let messageObj = messageJson[i];
                            for (var key in messageObj) {
                                if (messageObj.hasOwnProperty(key)) {
                                    detailMessageHtml = detailMessageHtml + messageNo + " : <span style='color:green'>" + messageObj[key] + "</span><br/>";
                                }
                            }
                        }
                    }
                    if (result.hasOwnProperty('warnJson') === true) {
                        let messageJson = result.warnJson;
                        for (let n = 0; n < messageJson.length; n++) {
                            messageNo++;
                            let messageObj = messageJson[n];
                            for (var key in messageObj) {
                                if (messageObj.hasOwnProperty(key)) {
                                    detailMessageHtml = detailMessageHtml + messageNo + " : <span style='color:blue'>" + messageObj[key] + "</span><br/>";
                                }
                            }
                        }
                    }
                    if (result.hasOwnProperty('errorJson') === true) {
                        let errorJson = result.errorJson
                        for (let i = 0; i < errorJson.length; i++) {
                            messageNo++
                            let messageObj = errorJson[i]
                            for (var key in messageObj) {
                                if (messageObj.hasOwnProperty(key)) {
                                    detailMessageHtml = detailMessageHtml + messageNo + " : <span style='color:red'>" + messageObj[key] + "</span><br/>"
                                }
                            }
                        }
                    }
                    getElm(detailResponseElmId).innerHTML = detailMessageHtml;
                    //showElm(detailResponseElmId);

                    if (typeof successCallback === "function") {
                        successCallback()
                    }
                }
                else if (result.hasOwnProperty('warn') === true) {

                    showText(responseElm, result.warn, 'red')

                    if (result.hasOwnProperty('warn') === true) {
                        showText(responseWarnElm, result.warn, 'blue')
                    }

                    let detailMessageHtml = "";
                    let messageNo = 0;
                    if (result.hasOwnProperty('warnJson') === true) {
                        let messageJson = result.warnJson;
                        for (let i = 0; i < messageJson.length; i++) {
                            messageNo++;
                            let messageObj = messageJson[i];
                            for (var key in messageObj) {
                                if (messageObj.hasOwnProperty(key)) {
                                    detailMessageHtml = detailMessageHtml + messageNo + " : <span style='color:blue'>" + messageObj[key] + "</span><br/>";
                                }
                            }
                        }
                    }
                    if (result.hasOwnProperty('errorJson') === true) {
                        let errorJson = result.errorJson
                        for (let i = 0; i < errorJson.length; i++) {
                            messageNo++
                            let messageObj = errorJson[i]
                            for (var key in messageObj) {
                                if (messageObj.hasOwnProperty(key)) {
                                    detailMessageHtml = detailMessageHtml + messageNo + " : <span style='color:red'>" + messageObj[key] + "</span><br/>"
                                }
                            }
                        }
                    }
                    getElm(detailResponseElmId).innerHTML = detailMessageHtml;
                    showElm(detailResponseElmId);
                }
            }

            callAssemblerApi(progressElmId, responseElmId, apiUrl, apiMethod, apiParams, refreshMode, refreshDomain, processReturn, successCallback, failureCallback, 0, "{{$AppSite}}", "{{$AppView}}", "AppHub", "")
        }
    }

</script>

