

<div style="margin:5px;">

    <fieldset class="ar-border" style="position:relative;margin: 5px; padding-top:15px;">
        <legend>OCI Hub Info</legend>

        <button class="ar-sbutton ar-border" style="position:absolute;right:0px;top:-10px;height:20px;font-size:xx-small;"
                onclick="clearHubSyncAccessInfo()">
            &#10060;
        </button>

        {{HubAccessSelect('HubAccessSelectRefreshID':'appHubSyncAccessSelectRefresh', 'HubAccessSelectID':'appHubSyncAccessSelect', 'HubAccessSelectAction':'appHubSyncAccessAction')}}

        <div class="ar-flex-content-spaced">
            <label for="appHubSyncRegistryKey" class="ar-flex-item-stretch" onclick="clearHubSyncAccessInfo();">Key</label>
            <label for="appHubSyncRegistryToken" class="ar-flex-item-stretch" onclick="clearHubSyncAccessInfo();">Token</label>
        </div>
        <div class="ar-flex-input-wrap">
            <input id="appHubSyncRegistryKey" class="ar-input ar-border ar-flex-item-stretch" style="padding-left: 5px;" type="text" placeholder="Your Registry Key" value="" />
            <div class="ar-flex-item-stretch" style="max-width:5px;"></div>
            <input id="appHubSyncRegistryToken" class="ar-input ar-border ar-flex-item-stretch" style="padding-left: 5px;" type="password" placeholder="Your Registry Token" value="" />
        </div>

    </fieldset>

    <div class="ar-flex-content-wrap" style="margin:5px;">

        <button disabled="disabled" id="appHubSyncPullBtn" class="ar-button ar-border ar-flex-item-stretch" style="text-align: center; font-weight: bolder; color:black;"
                onclick="appHubSyncPull('appHubSyncPullProgress', 'appHubSyncResponse', getElm('appSyncAccessSelect').value, getElm('appHubSyncRegistryKey').value, getElm('appHubSyncRegistryToken').value, 'appHubSyncPullBtn', 'appHubSyncDetailResponse')">
            Pull Hub<span id="appHubSyncPullProgress"></span>
        </button>
        <div style="width:5px;">
        </div>
        <button disabled="disabled" id="appHubSyncPushBtn" class="ar-button ar-border ar-flex-item-stretch" style="text-align: center; font-weight: bolder; color: black;"
                onclick="appHubSyncPush('appHubSyncPushProgress', 'appHubSyncResponse', getElm('appHubSyncAccessSelect').value, getElm('appHubSyncRegistryKey').value, getElm('appHubSyncRegistryToken').value, 'appHubSyncPushBtn', 'appHubSyncDetailResponse')">
            Push Hub <span id="appHubSyncPushProgress"></span>
        </button>
    </div>

    <div id="appHubSyncResponseContainer" class="ar-notification" style="text-align:center;display:none;">
        <svg fill="currentColor" width="16px" height="16px" viewBox="0 0 32 32" xml:space="preserve"
             style="position:absolute;left:0px;top:0px;"
             onclick="toggleElm('appHubRegistryDetailResponse')">
        <g>
        <path d="M17.962,24.725l1.806,0.096v2.531h-7.534v-2.406l1.045-0.094c0.568-0.063,0.916-0.254,0.916-1.014v-8.801
                 c0-0.699-0.188-0.92-0.791-0.92l-1.106-0.062v-2.626h5.666L17.962,24.725L17.962,24.725z M15.747,4.648
                 c1.394,0,2.405,1.047,2.405,2.374c0,1.331-1.014,2.313-2.438,2.313c-1.454,0-2.404-0.982-2.404-2.313
                 C13.31,5.695,14.26,4.648,15.747,4.648z M16,32C7.178,32,0,24.822,0,16S7.178,0,16,0c8.82,0,16,7.178,16,16S24.82,32,16,32z M16,3
                 C8.832,3,3,8.832,3,16s5.832,13,13,13s13-5.832,13-13S23.168,3,16,3z" />
             </g>
         </svg>
        <button class="ar-delete" onclick="hideElm('appHubSyncResponseContainer');hideElm('appHubRegistryDetailResponse');"></button>
        <div id="appHubSyncResponse"></div>
        <div id="appHubSyncResponseWarn"></div>
    </div>

    <div id="appHubSyncDetailResponse" style="font-size:x-small;text-align:center;display:none;">
    </div>

</div>

<script type="text/javascript">

    function clearHubSyncAccessInfo() {
        getElm('appHubSyncRegistryKey').value = ""
        getElm('appHubSyncRegistryToken').value = ""
    }

    function appHubSyncAccessAction()
    {
        let selectElm = getElm('appHubSyncAccessSelect');
        getElm('appHubSyncRegistryKey').value = ""
        getElm('appHubSyncRegistryToken').value = ""
    }

    function appHubSyncPull(progressElmId, responseElmId, registryUrlVal, registryKeyVal, registryTokenVal, actionBtnElmId, successCallback, failureCallback) {
        let id = window.ajaxid++
        let responseElm = getElm(responseElmId)
        let responseContainerElmId = responseElmId + "Container"
        responseElm.textContent = ''
        hideElm(responseContainerElmId)

        let valid = true

        if (valid === true) {
            if (registryUrlVal.trim().length === 0) {
                showText(responseElm, 'Select Hub Access', 'red')
                valid = false
            }
            else if (registryUrlVal.trim() === "0") {
                showText(responseElm, 'Select Hub Access', 'red')
                valid = false
            }
        }

        if (valid == true) {
            getElm(actionBtnElmId).setAttribute("disabled", true)

            let refreshMode = ""
            let refreshDomain = ""

            let apiUrl = '/AppApi/HubApi'
            let apiMethod = 'SyncHubPull'

            let apiParams = {
               "source_registry_url": registryUrlVal,
               "source_registry_key": registryKeyVal,
               "source_registry_token": registryTokenVal,
               "forcePull":false
            }

            let processReturn = function (result, responseElmId, successCallback, failureCallback) {

                let responseElm = getElm(responseElmId)

                getElm(actionBtnElmId).removeAttribute("disabled")

                if (result.hasOwnProperty('error') === true) {
                    showText(responseElm, result.error, 'red')
                }
                else if (result.hasOwnProperty('message') === true) {

                    showText(responseElm, result.message, 'green')

                    if (typeof successCallback === "function") {
                        successCallback()
                    }
                }
                else if (result.hasOwnProperty('warn') === true) {

                    showText(responseElm, result.warn, 'red')
                }

                triggerEvent('appHubRepositorySyncImagePathRefresh', 'click');
            }

            callAssemblerApi(progressElmId, responseElmId, apiUrl, apiMethod, apiParams, refreshMode, refreshDomain, processReturn, successCallback, failureCallback, 0, "{{$AppSite}}", "{{$AppView}}", "AppHub", "")
        }
    }

</script>
