<div class="ar-flex-content" style="margin: 50px 0px 0px 0px; ">

    <a href="/Hub/Usage" class="ar-sbutton ar-border" style="width: 100px; margin: 0px 0px 5px 5px; padding-bottom:5px; text-align: center;"
       data-ar-action="refreshPageComponentHtml"
       data-ar-appsite="Hub"
       data-ar-appview="Usage">
        Hub Usage
    </a>

    <div class="ar-flex-item-stretch" style="font-size: xx-small">

        <a href="#Hub/Config" style="color:red;"
           data-ar-action="refreshPageComponentHtml"
           data-ar-appsite="Hub"
           data-ar-appview="Config">Refresh</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/Reload" style="color:red;"
           data-ar-action_="refreshPageComponentHtml"
           data-ar-appsite="Hub"
           data-ar-appview="Config"
           data-ar-reload="true">Reload</a>
    </div>

    <a href="/Hub/Main" class="ar-sbutton ar-border" style="width: 100px; margin: 0px 5px 5px 0; padding-bottom:5px; text-align: center;"
            data-ar-action_="refreshPageComponentHtml"
            data-ar-appsite="Hub"
            data-ar-appview="Main">
        Hub App
    </a>

</div>
{{HTMLPLACEHOLDER}}