<!--PageTitle = Arshu Consultancy -->
<div style="min-height: calc(100vh - 120px); width: 100%;">

    {{#ZoomIn}}
    {{@HTMLPLACEHOLDER}}
        <div class="ar-flex-center-container" style="min-height: calc(100vh - 120px);width: 100%;">
            <div class="ar-flex-center-item" style="text-align:center;margin:0 auto;">
                <h1 title="{{$FLY_APP_NAME}}, {{$FLY_REGION}}">Arshu Hub Config</h1>
                <div style="margin:25px 0px;">
                    {{HubConfig}}
                </div>
            </div>
        </div>
    {{/HTMLPLACEHOLDER}}
    {{/ZoomIn}}

</div>
