<!--PageTitle = Arshu Consultancy -->
<div class="ar-flex-center-container" style="min-height: calc(100vh - 120px); width: 100%;">

    {{#Center}}
        {{@HTMLPLACEHOLDER}}
            {{#ZoomIn}}
                {{@HTMLPLACEHOLDER}}

                    {{MainInfo}}
                    
                    <div style="margin-top:15px;">
                        {{DemoToDo}}
                    </div>
                    
                {{/HTMLPLACEHOLDER}}
            {{/ZoomIn}}
        {{/HTMLPLACEHOLDER}}
    {{/Center}}

</div>

<div class="ar-flex-center-container" style="min-height: calc(100vh - 120px); width: 100%;">

   {{#Center}}
        {{@HTMLPLACEHOLDER}}

        <div style="margin-top:15px;">
            {{ServerMetrics}}
        </div>

        {{/HTMLPLACEHOLDER}}
    {{/Center}}

</div>
