
<div style="margin: 10px 0px 10px 0px; padding:5px 0px; background-color: white;color:black;">

    <fieldset class="ar-border" style="margin: 5px;padding:10px 0px;border-width:2px;">
        <legend style="text-align:center;cursor:pointer;"
                data-ar-action="refreshViewComponentHtml"
                data-ar-progress="showHubAccessProgress"
                data-ar-response="noresponse"
                data-ar-appsite="{{$AppSite}}"
                data-ar-appview="{{$AppView}}"
                data-ar-component="HubAccessConfig"
                data-ar-postcall="toggleElm('hubaccessconfig');hideElm('hubCleanDiv');hideElm('hubSyncDiv');clearAccessDetails();">
            Hub Access <span id="showHubAccessProgress"></span>
        </legend>

        <div id="hubaccessconfig" style="display:none;">
            {{!HubAccessConfig}}
        </div>

    </fieldset>

    <fieldset class="ar-border" style="margin: 5px;padding:10px 0px;border-width:2px;">
        <legend style="text-align:center;cursor:pointer;" onclick="hideElm('hubaccessconfig');toggleElm('hubCleanDiv');hideElm('hubSyncDiv');">Hub Clean</legend>
        <div id="hubCleanDiv" style="display:none;">
            {{HubClean}}
        </div>
    </fieldset>

    <fieldset class="ar-border" style="margin: 5px;padding:10px 0px;border-width:2px;">
        <legend style="text-align:center;cursor:pointer;" onclick="hideElm('hubaccessconfig');hideElm('hubCleanDiv');toggleElm('hubSyncDiv');">Hub Sync</legend>
        <div id="hubSyncDiv" style="display:none;">
            {{HubSync}}
        </div>
    </fieldset>

</div>

<div style="margin: 0 auto; padding:5px 0px; position: relative; overflow: hidden; background-color: white;color:black;">

    <fieldset class="ar-border" style="margin: 5px;padding:10px 0px;border-width:2px;">
        <legend style="text-align:center;cursor:pointer;" onclick="setTimeout(clearSyncAccessInfo, 1000); triggerEvent('appSyncAccessSelectRefresh', 'click'); toggleElm('repositorySyncDiv');hideElm('repositoryDeleteDiv'); hideElm('repositoryFolderDiv');">Repository Sync</legend>
        <div id="repositorySyncDiv" style="display:none;">
            {{RepositorySync}}
        </div>
    </fieldset>

    <fieldset class="ar-border" style="margin: 5px;padding:10px 0px;border-width:2px;">
        <legend style="text-align: center; cursor: pointer;" onclick="triggerEvent('appRepositoryDeleteSourceImagePathRefresh', 'click'); hideElm('repositorySyncDiv'); toggleElm('repositoryDeleteDiv'); hideElm('repositoryFolderDiv');">Repository Delete</legend>
        <div id="repositoryDeleteDiv" style="display:none;">
            {{RepositoryDelete}}
        </div>
    </fieldset>

    <fieldset class="ar-border" style="margin: 5px;padding:10px 0px;border-width:2px;">
        <legend style="text-align: center; cursor: pointer;" onclick="triggerEvent('appRepositoryFolderSourceImagePathRefresh', 'click'); hideElm('repositorySyncDiv'); hideElm('repositoryDeleteDiv'); toggleElm('repositoryFolderDiv');">Repository Folder Sync</legend>
        <div id="repositoryFolderDiv" style="display:none;">
            {{RepositoryFolderSync}}
        </div>
    </fieldset>

</div>

{{@ShowInitActions}}
<div style="margin: 10px auto; padding:5px 0px; position: relative; overflow: hidden; background-color: white;color:black;">

    <fieldset class="ar-border" style="margin: 5px;padding:10px 0px;border-width:2px;">
        <legend style="text-align: center; cursor: pointer;" onclick="triggerEvent('appHubRepositoryInitSourceImagePathRefresh', 'click'); hideElm('updateRepositoryDiv'); toggleElm('initRepositoryDiv');hideElm('initUpdateRepositoryDiv'); ">Repository Init</legend>
        <div id="initRepositoryDiv" style="display:none;">
            {{RepositoryInit}}
        </div>
    </fieldset>

    <fieldset class="ar-border" style="margin: 5px;padding:10px 0px;border-width:2px;">
        <legend style="text-align: center; cursor: pointer;" onclick="triggerEvent('appHubRepositoryUpdateSourceImagePathRefresh', 'click'); toggleElm('updateRepositoryDiv'); hideElm('initRepositoryDiv');hideElm('initUpdateRepositoryDiv');">Repository Update</legend>
        <div id="updateRepositoryDiv" style="display:none;">
            {{RepositoryUpload}}
        </div>
    </fieldset>

    <fieldset class="ar-border" style="margin: 5px;padding:10px 0px;border-width:2px;">
        <legend style="text-align: center; cursor: pointer;" onclick="triggerEvent('appHubRepositoryUpdateSourceImagePathRefresh', 'click'); hideElm('updateRepositoryDiv');hideElm('initRepositoryDiv');toggleElm('initUpdateRepositoryDiv');">Repository Init Update</legend>
        <div id="initUpdateRepositoryDiv" style="display:none;">
            {{RepositoryUploadInit}}
        </div>
    </fieldset>

</div>
{{/ShowInitActions}}

{{@ShowHubActions}}
<div style="margin: 10px auto; padding:5px 0px; position: relative; overflow: hidden; background-color: white;color:black;">

    <fieldset class="ar-border" style="margin: 5px;padding:10px 0px;border-width:2px;">
        <legend style="text-align:center;cursor:pointer;" onclick="triggerEvent('appHubRepositoryImagePathRefresh', 'click');hideElm('hubMappingDiv');toggleElm('hubAppDiv');">Hub App</legend>
        <div id="hubAppDiv" style="display:none;">
            {{HubApp}}
        </div>
    </fieldset>

    <fieldset class="ar-border" style="margin: 5px;padding:10px 0px;border-width:2px;">
        <legend style="text-align:center;cursor:pointer;" onclick="triggerEvent('mappingRepositorySelectRefresh', 'click');toggleElm('hubMappingDiv');hideElm('hubAppDiv');">Hub Mapping</legend>
        <div id="hubMappingDiv" style="display:none;">
            {{HubMapping}}
        </div>
    </fieldset>

</div>
{{/ShowHubActions}}

{{@ShowFlyActions}}
<div style="margin: 10px auto; padding:5px 0px; position: relative; overflow: hidden; background-color: white;color:black;">

    <fieldset class="ar-border" style="margin: 5px;padding:10px 0px;border-width:2px;">
        <legend style="text-align:center;cursor:pointer;" onclick="hideElm('flyMachineDiv');toggleElm('flyAppDiv');">Fly App</legend>
        <div id="flyAppDiv" style="display:none;">
            {{FlyApp}}
        </div>
    </fieldset>

    <fieldset class="ar-border" style="margin: 5px;padding:10px 0px;border-width:2px;">
        <legend style="text-align:center;cursor:pointer;" onclick="triggerEvent('machineUpdateImagePathRefresh', 'click');toggleElm('flyMachineDiv');hideElm('flyAppDiv');">Fly Machine</legend>
        <div id="flyMachineDiv" style="display:none;">
            {{FlyMachine}}
        </div>
    </fieldset>

</div>
{{/ShowFlyActions}}

{{@ShowKraftActions}}
<div style="margin: 10px auto; padding:5px 0px; position: relative; overflow: hidden; background-color: white;color:black;">

    <fieldset class="ar-border" style="margin: 5px;padding:10px 0px;border-width:2px;">
        <legend style="text-align:center;cursor:pointer;" onclick="hideElm('unikraftInstanceDiv');toggleElm('unikraftServiceDiv');">Unikraft Service</legend>
        <div id="unikraftServiceDiv" style="display:none;">
        </div>
    </fieldset>

    <fieldset class="ar-border" style="margin: 5px;padding:10px 0px;border-width:2px;">
        <legend style="text-align:center;cursor:pointer;" onclick="toggleElm('unikraftInstanceDiv');hideElm('unikraftServiceDiv');">Unikraft Instance</legend>
        <div id="unikraftInstanceDiv" style="display:none;">
        </div>
    </fieldset>

</div>
{{/ShowKraftActions}}