<!--PageTitle = Arshu Consultancy -->
<div style="min-height: calc(100vh - 120px); width: 100%;">

    {{#Center}}
        {{@HTMLPLACEHOLDER}}
            {{#ZoomIn}}
                {{@HTMLPLACEHOLDER}}

                <div class="ar-flex-center-container" style="min-height: calc(100vh - 120px);width: 100%;">
                    <div class="ar-flex-center-item" style="text-align:center;margin:0 auto;">
                        {{MainInfo}}
                        {{HubInfo}}
                        <div style="margin:25px 0px;">
                            {{HubApp}}
                        </div>
                    </div>
                </div>

                {{/HTMLPLACEHOLDER}}
            {{/ZoomIn}}
        {{/HTMLPLACEHOLDER}}
    {{/Center}}

</div>
