<!--PageTitle = Arshu Consultancy -->
<div style="min-height: calc(100vh - 120px); width: 100%;">

    {{#ZoomIn}}
        {{@HTMLPLACEHOLDER}}
            {{#Center}}
                {{@HTMLPLACEHOLDER}}
                    <div class="ar-flex-center-container" style="min-height: calc(100vh - 120px);width: 100%;">
                        <div class="ar-flex-center-item" style="text-align:center;margin:0 auto;">
                            {{HubTrackingInfo}}
                            <div style="margin:25px 0px;">
                                {{ServerMetrics}}
                            </div>
                        </div>
                    </div>
                {{/HTMLPLACEHOLDER}}
            {{/Center}}
        {{/HTMLPLACEHOLDER}}
    {{/ZoomIn}}

</div>
